In [6]:
import pandas as pd
import numpy as np

In [2]:
DATA_FOLDER = "../data/raw/"

In [4]:
healthSpending_df = pd.read_csv(DATA_FOLDER + "oecd_healthSpending.csv")
healthSpending_df

     LOCATION  INDICATOR SUBJECT  MEASURE FREQUENCY  TIME    Value Flag Codes
0         AUS  HEALTHEXP     TOT  USD_CAP         A  1971  212.545        NaN
1         AUS  HEALTHEXP     TOT  USD_CAP         A  1972  226.524        NaN
2         AUS  HEALTHEXP     TOT  USD_CAP         A  1973  251.085        NaN
3         AUS  HEALTHEXP     TOT  USD_CAP         A  1974  306.927        NaN
4         AUS  HEALTHEXP     TOT  USD_CAP         A  1975  374.393        NaN
...       ...        ...     ...      ...       ...   ...      ...        ...
1732      PER  HEALTHEXP     TOT  USD_CAP         A  2016  622.679        NaN
1733      PER  HEALTHEXP     TOT  USD_CAP         A  2017  623.425        NaN
1734      PER  HEALTHEXP     TOT  USD_CAP         A  2018  686.332        NaN
1735      PER  HEALTHEXP     TOT  USD_CAP         A  2019  702.355        NaN
1736      PER  HEALTHEXP     TOT  USD_CAP         A  2020  759.475        NaN

[1737 rows x 8 columns]

In [5]:
beds_df = pd.read_csv(DATA_FOLDER + "oecd_hospitalBeds.csv")
beds_df

     LOCATION    INDICATOR SUBJECT  MEASURE FREQUENCY  TIME  Value Flag Codes
0         AUS  HOSPITALBED     TOT  1000HAB         A  1991   4.92        NaN
1         AUS  HOSPITALBED     TOT  1000HAB         A  1992   4.65        NaN
2         AUS  HOSPITALBED     TOT  1000HAB         A  1993   4.68        NaN
3         AUS  HOSPITALBED     TOT  1000HAB         A  1994   4.59        NaN
4         AUS  HOSPITALBED     TOT  1000HAB         A  1995   4.58        NaN
...       ...          ...     ...      ...       ...   ...    ...        ...
1192      ROU  HOSPITALBED     TOT  1000HAB         A  2017   6.89        NaN
1193      ROU  HOSPITALBED     TOT  1000HAB         A  2018   6.97        NaN
1194      ROU  HOSPITALBED     TOT  1000HAB         A  2019   7.06        NaN
1195      ROU  HOSPITALBED     TOT  1000HAB         A  2020   7.12        NaN
1196      ROU  HOSPITALBED     TOT  1000HAB         A  2021   7.21        NaN

[1197 rows x 8 columns]

In [7]:
# Define the softmax function
def softmax(col):
    e_x = np.exp(col - np.max(col))
    return e_x / e_x.sum()

def normalize(col):
    return (col - col.min()) / (col.max() - col.min())

# Apply softmax to a column
beds_df['softmax_Value'] = softmax(beds_df['Value'])

beds_df

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes,softmax_Value
0,AUS,HOSPITALBED,TOT,1000HAB,A,1991,4.92,NaN,0.000002
1,AUS,HOSPITALBED,TOT,1000HAB,A,1992,4.65,NaN,0.000002
2,AUS,HOSPITALBED,TOT,1000HAB,A,1993,4.68,NaN,0.000002
3,AUS,HOSPITALBED,TOT,1000HAB,A,1994,4.59,NaN,0.000002
4,AUS,HOSPITALBED,TOT,1000HAB,A,1995,4.58,NaN,0.000002
...,...,...,...,...,...,...,...,...,...
1192,ROU,HOSPITALBED,TOT,1000HAB,A,2017,6.89,NaN,0.000017
1193,ROU,HOSPITALBED,TOT,1000HAB,A,2018,6.97,NaN,0.000019
1194,ROU,HOSPITALBED,TOT,1000HAB,A,2019,7.06,NaN,0.000020
1195,ROU,HOSPITALBED,TOT,1000HAB,A,2020,7.12,NaN,0.000022
1196,ROU,HOSPITALBED,TOT,1000HAB,A,2021,7.21,NaN,0.000024